{{>navbar/nav}}
<div class="panel panel-info">
    <div class="panel panel-heading">
        <h1 class='panel-title'>Eye Bleach</h1>
    </div>
    <div class="panel panel-body" id='eye-bleach-container'>

        {{#each reddit}}
        <div class="eye-bleach-div col-sm-3 text-center">
            <button class='btn btn-danger btn-sm favorite'>Favorite</button>
            <a href='{{url}}'><img class='thumbnail' src='{{thumbnail}}'></a>
        </div>
        {{/each}}

    </div>
</div>