<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="btn btn-sm btn-primary" id="btn-scrape">Scrape</button>
        <a class="btn btn-sm btn-danger pull-right" id="favorites-btn" href='/favorites'>Favorites</a>
    </div>
</nav>